@font-face {
  font-family: 'D-DIN';
  font-style: normal;
  font-weight: normal;
  src: local('D-DIN'), url('D-DIN.woff') format('woff');
}

@font-face {
  font-family: 'D-DIN';
  font-style: normal;
  font-weight: bold;
  src: local('D-DIN-Bold'), url('D-DIN-Bold.woff') format('woff');
}

