.header {
  height: 555px;
  background-size: cover;
  background-position: center;
}

.counters {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #121212;
  display: flex;
}
