@import "../../../assets/variables.scss";

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 37px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 37px;
  grid-row-gap: 33px;
}

.total {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 16px;

  color: $gray4;
} 

.header {
  display: flex;
  flex-direction: column;
  padding: 0 60px;
  padding-top: 38.86px;
  justify-content: center;
  background: linear-gradient(180deg, #121212 64.11%, #1E1E1E 100%);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);

  .logo {
    height: 29px;
    margin-bottom: 28px;
  }

  .title {
    margin-top: 0;
    margin-bottom: 37px;
  }
}

.content {
  padding: 0 60px;
  padding-top: 24px;

  .filters {

    .search-input {
      font-size: 16px;
      line-height: 24px;
      width: 414px;
      color: $white;
      border: 0;
      outline: 0;
      
      display: flex;
      align-items: center;
      height: 32px;
      padding: 6px 12px;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #121212;
      border-radius: 8px;
      margin-bottom: 32px;
    }
  }
}